body {
    font-family: "Century Gothic", sans-serif;
    padding-top: 65px;
}



.rotate{
    overflow:hidden;
    width: 65px;
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}
.rotate:hover
{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

/*.sidebar {*/
    /*font-size: 13px;*/
    /*margin-bottom: 20px;*/
    /*min-height: 100%;*/
    /*overflow: auto;*/
/*}*/

.col-sm-3half, .col-sm-8half {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}
.video-frame {
    width: 100%;
    min-height: 33vw
}

@media not all and (min-width: 990px) {
    .sidebar {
        text-align: center;
    }
    .video-frame {
        min-height: 47vw
    }
    .episode-title {
        font-size: 1.5em;
    }
}

@media (min-width: 990px) {

    .col-sm-3half, .col-sm-8half {
        float: right;
    }

    .col-sm-3half {
        width: 20.16666667%;
    }
    .col-sm-8half {
        width: 60.83333333%;
    }
}



.red {
    color: #BF1C1C;
}

/*aside {*/
    /*margin-bottom: 40px;*/
/*}*/

.episode-banner-big {
    max-width: 100%;
}

.episode-banner {
    max-width: 100%;
    min-height: 100px;
    object-fit: cover;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.episode-info-div {
    padding: 8px;
    background: #f9f9f9;
    box-shadow: 0 0 1px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .1);
    border-radius: 3px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .1);
}

.episode-banner-div {
    width: 100%;
}

.episode-date
{
    font-size: 13px;
}

.episode-div {
    margin-bottom: 20px;
}

.member-name {
    font-size: 22px;
}

.episode-title {
    text-decoration: none;
    color: #9b0006;
    font-size: 1.1em;
    font-weight: 600;
}

.episode-title:hover {
    color: #c81b1b;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}


.avatar-div {
    width: 170px;
    height: 140px;
}

.member-avatar {
    width: 100%;
    height: 100%;
    border-radius: 5em;
    object-fit: cover;
}

.member {
    margin-bottom: 13px;
    border-radius: 0.5em;
}

.project-title {
    font-size: 13px;
    color: #d71c1c;
    font-weight: 600;
}

.buttons {
    margin-top: 9px;
}

.episode {
    margin-bottom: 15px;
}


.project-title {

}