body {
    font-family: "Century Gothic", sans-serif;
    padding-top: 65px;

}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.red {
    color: #BF1C1C;
}

.rotate {
    overflow: hidden;
    width: 65px;
    transition-duration: 0.8s;
    transition-property: transform;
}

.rotate:hover {
    transform: rotate(360deg);
}

.download-options {
    display: none;
    padding: 5px;
}

.labels {
    margin: 5px;
}

.member-description {
    display: none;
    padding: 7px;
}

.inactive {
    color: #bdbdbd;
}

.active {
    filter: brightness(80%);
}

.video {
    position: relative;
    z-index: 102;
}

#persoff {
    background: #000;
    opacity: 0.9;
    filter: alpha(opacity=90);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}